body{
  background-image:url(../img/pexels-karolina-grabowska-4386471.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
}


.header{
  font-size: 35px;
  font-family:'Times New Roman', Times, serif;
}
.card{
  width: 400px;
  height: 300px;
}
.shead{
  font-size:23px ;
}
#current{
  display: none;
}
#balanceDisp {
  display: none;
}
.negative {
  color: red;
}
#warn{
  background-color: red;
  width: 250px;
  display: none;
  font-weight: bold;
}

#warn2{
  background-color: red;
  width: 390px;
  display: none;
  font-weight: bold;
} 

